.fiddle-listing {
	padding: 0 40px;
	margin-top: 40px;
	padding-bottom: 16px;
	position: relative;
	display: flex;
	overflow-x: auto;
	justify-content: space-between;
	align-items: stretch;
	height: 288px;
}

.fiddle-listing__fiddle {
	opacity: 0;
	animation: 500ms fiddle-listing-fadein ease forwards;
	position: relative;
	z-index: 1;
	flex: 0 0 auto;
	display: flex;
	flex-direction: column;
	background: transparent;
	border-radius: 3px;
	border-right: 40px solid transparent;
	box-sizing: content-box;
	width: 20vw;
	height: 20vw;
	color: inherit;
	text-decoration: none;
}
/*Fiddle shadow*/
.fiddle-listing__fiddle::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	border-radius: 3px;
	box-shadow: 0px 3px 7px rgba(0,0,0,.15);
}

.fiddle-listing__fiddle__image {
	flex: 1 1 auto;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: var(--editor-bg);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.fiddle-listing__fiddle__content {
	flex: 0 0 auto;
	padding: 16px;
	border-radius: 3px;
	overflow: hidden;
}
.fiddle-listing__fiddle__title { font-size: 1.5em; color: var(--medium-2); }
.fiddle-listing__fiddle__author { font-family: 'Roboto Mono'; color: var(--light); }

/* Loading animation */

.fiddle-listing::after {
	content: '';
	opacity: 0.5;
	transition: 300ms opacity ease;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../../../assets/loading.gif);
	background-position: center;
	background-repeat: no-repeat;
}
.fiddle-listing:not(.loading)::after {
	opacity: 0;
}


@keyframes fiddle-listing-fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}

.fiddle-listing .fiddle-listing__fiddle:nth-child(2) { animation-delay: 50ms; }
.fiddle-listing .fiddle-listing__fiddle:nth-child(3) { animation-delay: 100ms; }
.fiddle-listing .fiddle-listing__fiddle:nth-child(4) { animation-delay: 150ms; }
.fiddle-listing .fiddle-listing__fiddle:nth-child(5) { animation-delay: 200ms; }