:root {
	--light: #A8D5BE;
	--medium-1: #64ABBC;
	--medium-2: #22627B;
	--dark: #003C4A;
	--editor-bg: #23241F;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Didact Gothic', sans-serif;
  color: #555;
  /*overflow-x: hidden;*/
}
* {
	outline-color: var(--medium-1);
}
.spacer {
	flex: 1 1 auto;
}

#root {
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}